<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <link rel="icon" href="data:;base64,=">
  <title>Review Summerizer</title>
</head>

<body>
 <div class="login">
	<h1>Summerizing the text</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}" method="POST">
		<p>Enter Your Message Here</p>
		<!-- <input type="text" name="comment"/> -->
		<textarea name="message" rows="8" cols="70"></textarea>
		<br/>

		<input type="submit" class="btn-info" value="predict">
		
	</form>
   <br>
   <br>
    {{ text }}
   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>